<div class='home__page grid__column-10'>
  <div class='home__control' id={{role}}>
    <div class='grid__row'>
      

      <!-- Dash board -->
      <div class='grid__column-2-6 aaa' id={{userId}}>
        <div class='home__mode bbb' id={{devId}} >
          <div class='home__mode-dashboard ccc' id={{userName}}>
            <div class='mode__tittle'>Lights</div>
            <div class='mode__container container--dash'>

              {{!-- <div class='btn__dash2'>
                <button class='btn__primary btn--dash btn--home' style="background-color:#5ec576;" ></button>
                <p class='btn__dash-text'>Start</p>
              </div> --}}
              <div class="btn__dash2">
                <p class="out">Q0.0</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l1'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch0'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left0 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right0 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.1</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l2'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch1'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left1 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right1 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.2</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l3'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch2'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left2 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right2 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.3</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l4'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch3'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left3 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right3 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.4</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l5'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch4'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left4 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right4 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.5</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l6'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch5'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left5 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right5 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.6</p>
                <div class="light--sw"><i class='light-ic fa-solid  off fa-lightbulb ic-l7'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch6'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left6 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right6 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              <div class="btn__dash2">
                <p class="out">Q0.7</p>
                <div class="light--sw"><i class='light-ic fa-solid off fa-lightbulb ic-l8'></i></div>
                <div class='form-box '>
                  <div class='button-box'>
                    <div id='btn--switch7'></div>
                    <button
                      type='button'
                      class='toggle-btn sw--left7 btn__primary'
                    >OFF</button>
                    <button
                      type='button'
                      class='toggle-btn sw--right7 btn__primary'
                    >ON</button>
                  </div>
                </div>
                
              </div>

              
              

            </div>
          </div>
        </div>
      </div>

      <div class="grid__column-2-3 ">
          <div class='home__mode total--edit sensor ss_co'>
          <div class='mode__tittle'>Sensor</div>
          
          <div class="bieudo">
              <canvas id="myChart"></canvas>  
          </div>
          <span class='current__temp crrTemp'>0</span> 
          <div class="plc">
            <label for="temp" class="label_temp">Temperature'SP (oC): </label>
            <input
                type='text'
                class='temp__setting'
                id='temp'
                placeholder='%'
                value="100"
              />  
          </div>

          <div class="alarm_2040">Normal state</div>

          <div class="bieudo">
              <canvas id="humChart"></canvas>  
          </div>
          <span class='current__temp crrHumid'>0</span> 
          <div class="plc_humid">
            <label for="humid" class="label_humid">Humid'SP (%): </label>
            <input
                type='text'
                class='temp__setting'
                id='humid'
                placeholder='%'
                value="100"
              />  
          </div>
        
          



        </div>
      </div>
      


    </div>
  </div>
</div>








<script src='/socket.io/socket.io.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', async function(){ 
    try{
 
   
  const alarm = document.querySelector('.alarm_2040');
  const userName = await document.querySelector('.ccc').id;
  const devId = await document.querySelector('.bbb').id;
  const userId = await document.querySelector('.aaa').id;
  let ctx = document.getElementById('myChart').getContext('2d');
  //const formNewHis=document.forms['form__cre-his']; 
  const container =document.querySelector('.home__control'); 
  let input = document.querySelectorAll('.temp__setting'); 
   // get role of user 
  const role = await container.id;
  const socket = io(); 

  // alarm full product and send to mqtt
  input.forEach((inp) =>inp.addEventListener('change', (e)=> { 
  // humid--temp
  const publicName = inp.id; 
  const publicValue = inp.value; 
  // send to server -> mqtt
  socket.emit('sensor', 
  {publicName: publicName, publicValue: publicValue} ); })); 
  

  // default  Temp chart
  var options = {
        type: 'doughnut',
        data: {
          datasets: [{
            label: 'oC',
            data: [1,99],
            backgroundColor: ["#EE4621",  '#F8FBF8'],     
          }]
        },
        options: {
          rotation: 270, // start angle in degrees
          circumference: 180, // sweep angle in degrees
        }
      }

  let TempChart = new Chart(ctx, options);
    
    //rub msg current value and update Temp chart
  socket.on('currentTemp', function(msg) {  
    const total1 = document.getElementById('temp');
    msg = msg*1;
    total = total1.value*1 - msg;
    const crrTemp  = document.querySelector('.crrTemp');
    crrTemp.textContent = msg;
    TempChart.data.datasets[0].data =[msg,total];
    TempChart.update();

    //alarm 
    if (msg > total1.value*1 ){
      // ui
      let text = `Temp is higher than ${msg - total1.value*1 } oC`;
      alarm.textContent = text;
      alarm.style.color = 'red';
      TempChart.data.datasets[0].data =[100,0];
      TempChart.update();

      //server
      socket.emit('alarm_ovTemp', text);
      axios.post(`/alarm/device/${devId}/${userName}/${userId}`, { subject: text , deviceId: devId }) 
      .then((res)=>{} )
      .catch(function (error) { console.log(error.message); });
    }

  });
 
  
 
  // draw humid chart
  // Get reference to the canvas element
    const ctx2 = document.getElementById('humChart').getContext('2d');
    var options = {
      type: 'doughnut',
      data: {
        
        datasets: [{
          label: '%',
          data: [1,99],
          backgroundColor: ["#67E5C7",  '#F8FBF8' ]
        }]
      },
      options: {
        rotation: 270, // start angle in degrees
        circumference: 180, // sweep angle in degrees
      }
    }
    let HumChart = new Chart(ctx2, options);

     //rub msg current value and update Temp chart
  socket.on('currentHumid', function(msg) {  
    const total1 = document.getElementById('humid');
    msg = msg*1;
    total = total1.value*1 - msg;
    const crrHum  = document.querySelector('.crrHumid');
    crrHum.textContent = msg;
    HumChart.data.datasets[0].data =[msg,total];
    HumChart.update();

    //alarm 
    if (msg > total1.value*1 ){
      // ui
      let text = `Humid is higher than ${msg - total1.value*1 } %`;
      alarm.textContent = text;
      alarm.style.color = 'blue';
      HumChart.data.datasets[0].data =[100,0];
      HumChart.update();

      //server
      socket.emit('alarm_ovHum', text);
      axios.post(`/alarm/device/${devId}/${userName}/${userId}`, { subject: text , deviceId: devId }) 
      .then((res)=>{} )
      .catch(function (error) { console.log(error.message); });
    }

  });
 
  const icl1 = document.querySelector('.ic-l1');
  const icl2 = document.querySelector('.ic-l2');
  const icl3 = document.querySelector('.ic-l3');
  const icl4 = document.querySelector('.ic-l4');
  const icl5 = document.querySelector('.ic-l5');
  const icl6 = document.querySelector('.ic-l6');
  const icl7 = document.querySelector('.ic-l7');
  const icl8 = document.querySelector('.ic-l8');

  //update light status
  socket.on('light1', function(msg) {
    if (msg == 'true'){
      icl1.classList.add('ic-orange');
    }else {
      icl1.classList.remove('ic-orange');
    }
  }); 

   socket.on('light2', function(msg) {
    if (msg == 'true'){
      icl2.classList.add('ic-orange');
    }else {
      icl2.classList.remove('ic-orange');
    }
  }); 

   socket.on('light3', function(msg) {
    if (msg == 'true'){
      icl3.classList.add('ic-orange');
    }else {
      icl3.classList.remove('ic-orange');
    }
  }); 

   socket.on('light4', function(msg) {
    if (msg == 'true'){
      icl4.classList.add('ic-orange');
    }else {
      icl4.classList.remove('ic-orange');
    }
  }); 

   socket.on('light5', function(msg) {
    if (msg == 'true'){
      icl5.classList.add('ic-orange');
    }else {
      icl5.classList.remove('ic-orange');
    }
  }); 

   socket.on('light6', function(msg) {
    if (msg == 'true'){
      icl6.classList.add('ic-orange');
    }else {
      icl6.classList.remove('ic-orange');
    }
  }); 

   socket.on('light7', function(msg) {
    if (msg == 'true'){
      icl7.classList.add('ic-orange');
    }else {
      icl7.classList.remove('ic-orange');
    }
  }); 
   socket.on('light8', function(msg) {
    if (msg == 'true'){
      icl8.classList.add('ic-orange');
    }else {
      icl8.classList.remove('ic-orange');
    }
  }); 

  if (role === 'viewer'){ 
    // config viewer 
    
    const btns = document.querySelectorAll('.btn__primary'); 
    const sw = document.querySelectorAll('.button-box'); 

    
    btns.forEach(btn => { 
      btn.classList.remove('btn--home'); 
      btn.classList.add('btn--disable'); })
      
    sw.forEach(btn => { 
    btn.style.opacity ='0.3' })}
    

  else{ 
    // handle button 

  // handle  switch0
  const btnSwitch0 = document.getElementById('btn--switch0'); 
  const btnSwleft0 = document.querySelector('.sw--left0'); 
  const btnSwright0 = document.querySelector('.sw--right0');
  btnSwleft0.addEventListener('click',(e)=>{ btnSwitch0.style.left = '0';})
  btnSwright0.addEventListener('click',(e)=>{ btnSwitch0.style.left = '50px'; })

  const btnSwitch1 = document.getElementById('btn--switch1'); 
  const btnSwleft1 = document.querySelector('.sw--left1'); 
  const btnSwright1 = document.querySelector('.sw--right1');
  btnSwleft1.addEventListener('click',(e)=>{ btnSwitch1.style.left = '0';})
  btnSwright1.addEventListener('click',(e)=>{ btnSwitch1.style.left = '50px'; })

  const btnSwitch2 = document.getElementById('btn--switch2'); 
  const btnSwleft2 = document.querySelector('.sw--left2'); 
  const btnSwright2 = document.querySelector('.sw--right2');
  btnSwleft2.addEventListener('click',(e)=>{ btnSwitch2.style.left = '0';})
  btnSwright2.addEventListener('click',(e)=>{ btnSwitch2.style.left = '50px'; })

  const btnSwitch3 = document.getElementById('btn--switch3'); 
  const btnSwleft3 = document.querySelector('.sw--left3'); 
  const btnSwright3 = document.querySelector('.sw--right3');
  btnSwleft3.addEventListener('click',(e)=>{ btnSwitch3.style.left = '0';})
  btnSwright3.addEventListener('click',(e)=>{ btnSwitch3.style.left = '50px'; })

  const btnSwitch4 = document.getElementById('btn--switch4'); 
  const btnSwleft4 = document.querySelector('.sw--left4'); 
  const btnSwright4 = document.querySelector('.sw--right4');
  btnSwleft4.addEventListener('click',(e)=>{ btnSwitch4.style.left = '0';})
  btnSwright4.addEventListener('click',(e)=>{ btnSwitch4.style.left = '50px'; })

  const btnSwitch5 = document.getElementById('btn--switch5'); 
  const btnSwleft5 = document.querySelector('.sw--left5'); 
  const btnSwright5 = document.querySelector('.sw--right5');
  btnSwleft5.addEventListener('click',(e)=>{ btnSwitch5.style.left = '0';})
  btnSwright5.addEventListener('click',(e)=>{ btnSwitch5.style.left = '50px'; })

  const btnSwitch6 = document.getElementById('btn--switch6'); 
  const btnSwleft6 = document.querySelector('.sw--left6'); 
  const btnSwright6 = document.querySelector('.sw--right6');
  btnSwleft6.addEventListener('click',(e)=>{ btnSwitch6.style.left = '0';})
  btnSwright6.addEventListener('click',(e)=>{ btnSwitch6.style.left = '50px'; })

  const btnSwitch7 = document.getElementById('btn--switch7'); 
  const btnSwleft7 = document.querySelector('.sw--left7'); 
  const btnSwright7 = document.querySelector('.sw--right7');
  btnSwleft7.addEventListener('click',(e)=>{ btnSwitch7.style.left = '0';})
  btnSwright7.addEventListener('click',(e)=>{ btnSwitch7.style.left = '50px'; })


    
    container.addEventListener('click',function(e){
      e.preventDefault(); 
      const btn = e.target.closest('.btn__primary'); 
      if (!btn) return; 
      let behavior = btn.textContent.trim(); 
      msg = behavior + btn.closest('.btn__dash2').firstElementChild.textContent.trim();
      msg = msg.toLowerCase();
      behavior = behavior +' '+ btn.closest('.btn__dash2').firstElementChild.textContent.trim(); 
      behavior = behavior.toLowerCase(); 
      
      // send to server -> mqtt
      socket.emit('control plcw2040', msg ); 
      // post creat history 
      const mess =  `Click ${behavior} from Web Client`; 
      axios.post(`/history/device/${devId}/${userName}/${userId}`, { behavior: mess , device: devId }) 
      .then((res)=>{} )
      .catch(function (error) { console.log(error.message); });
  }); 
  }
    }
  catch(err){
    console.log(err);
  }
  });
</script>