<!-- Alarm page -->
<div class="alarm__page grid__column-10">
  <div class="alarm__control">
    <div class="grid__row">
      <div class='history__btn'>
        <button class='btn__primary btn__history1 btn__history'>
          view controller
        </button>
        <button class='btn__primary btn__history2 btn__history'>
          view total products
        </button>
        <button class='btn__primary btn__history3 btn__history'>Export</button>
      </div>
    </div>
  </div>

  <div class="alarm__option">
    <div class="grid__row">
      <form action='' class='form-option'>
        <span class='option-text'>Date from</span>
        <input type='date' class='date-from' placeholder='dd/mm/yy'/>
        <span class='option-text'>Date to</span>
        <input type='date' class='date-from' placeholder='dd/mm/yy'/>
        <button class='btn--app'><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>

  <div class="alarm__table">
    <div class="grid__row">
      <!-- table tittle -->
      <div class="table table__header">
        <span class="table__id">ID</span>
        <span class="table__time">Time</span>
        <span class="table__subject">Subject</span>
        <span class="table__alarm">Alarm</span>
      </div>

      <!-- Table data -->
      <div class="table table__data">
        <span class="table__id">13203091309139103ccccc</span>
        <span class="table__time">12/07/2021</span>
        <span class="table__subject">Conveyer</span>
        <span class="table__alarm">No product</span>
      </div>
    </div>
  </div>
</div>