{{!-- <div class="header">
  <div class="grid">
    <div class="header__navbar">
      <div class="header__content">IOT SOLUTIONS</div>
      <div class="header__tittle">Welcome to my project</div>
      <button class="btn--log-out">Log out</button>
    </div>
  </div>
</div>
<form method="GET" action="/home/logout" name = 'form__log-out'></form>

<script>
  document.addEventListener('DOMContentLoaded',function(){
      const btnLogOut = document.querySelector('.btn--log-out');
      const formLogOut=document.forms['form__log-out'];
      
      btnLogOut.addEventListener('click',function(){
        formLogOut.submit();
      })
  })
</script> --}}